[Desktop Entry]
Version=1.0
Type=Application

Name=Yesser Calculator
Comment=An extensible calculator
Categories=Utility;Calculator;

Icon=io.github.yesser_studios.Yesser-Calculator
Exec=YesserCalculator
Terminal=false
